/****** body ******/

body {
    /* overriding the default */
    margin: 0;
    /* hiding scroll bars */
    overflow: hidden;
    /* primary text parameters */
    color: #23272b;
}

.container-fluid {
    padding: 0px;
}

/****** header ******/

h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    /* keep the heading visible above the canvas */
    z-index: 1;
    /* smaller text than default */
    font-size: 2rem;
}

h2 {
    position: absolute;
    top: 45px;
    text-align: center;
    width: 100%;
    /* keep the heading visible above the canvas */
    z-index: 1;
    /* smaller text than default */
    font-size: 1rem;
}

/****** navigation ******/

a {
    color: #8000ff;
}

a:hover {
    color: purple;
}

#info-button {
    top: 95px;
}

/****** main content ******/

#scene-container {
    position: absolute;
    /* occupy 100% of the parent (the body) */
    width: 100%;
    height: 100%;
}

p {
    /* position: absolute; */
    width: 100%;
    /* keep the heading visible above the canvas */
    z-index: 2;
    /* smaller text than default */
    font-size: 0.75rem;
}

/****** footer ******/